/* menu only */
nav{
    display: flex;
    background-color: #562EFF;
    justify-content: space-between;
    text-align: justify;
}
nav a{
    text-decoration: none;
    padding: 30px;
    color: #FFFFFF;
    font-size: 1.5em ;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
nav img{
    width: 51px;
    height: 51px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

}
.idea{
    display: flex;
    padding-left: 20px;
    margin-left: 225px;
    color: #FFFFFF
}
.work{
    margin-right: 225px;
}
/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 
.container{
    background-color:  #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px ;
    color: #562EFF;
}
/* courses styles */
.course{
    margin: 10px;
    padding: 16px 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px gainsboro;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:24px;
    padding-top: 11px;
}
.course .courses-banner img{
    width: 224px;
    height: 104px;
}
.courses-title{
    font-size: 20px;
}
.courses-author{
    font-size: 14px;
    color: #ED6B4F;
}
.courses-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
span{
    color: #A2A2A2;
}
.courses-duration{
    background-color: #FFE4E8;
    border-radius: 15px;
    color: #FF4A60;
    padding: 5px 10px;
}
/* Media Queries */


/* Mobile Devices */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }

.players, .blogs, .courses{
    grid-template-columns: repeat(1, 1fr);
}
.player, .blog{ 
    flex-direction: column;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .container{
        width: 100%;
    }

.players, .courses{
    grid-template-columns: repeat(2, 1fr);
}
.blogs{
    grid-template-columns: repeat(1, 1fr);
  }
}